{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %} Loan Application Sent Successfully {% endblock title %}

<!---->

{% block content %}

<!--        SECTION          -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Message</h3>
            </div>
        </div>
    </div>
</section>

<section class="package_thanks_message">
    <h2>Thank you for taking subscription.</h2>
    <p>We will contact you very soon.</p>

    <div class="package_thanks_message__card">
        <p>You'r agent contact details are here,</p>
        <p>For any question contact with us now.</p>
        <ul>
            <li><strong>NAME:</strong> Arunesh kumar</li>
            <li><strong>Contact Number:</strong> +91 8951618410 | +91 7975208937</li>
            <li><strong>EMAIL ADDRESS:</strong> contact@devafinance.com</li>
        </ul>
    </div>
</section>

<!--        SECTION          -->

{% endblock content %}
