{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %}Subscription Packages{% endblock title %}

<!---->

{% block content %}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Get Loan Fast</h3>
            </div>
        </div>
    </div>
</section>

<!---->

<section class="why_package">
    <h5>About Package.</h5>
    <p>These package's about helping to you get loan fast and easy way, so please read and understand about package's before selecting. If you have any doubts then feel free contact with us +91 8951618410 | 7975208937</p>
</section>

<!---->

<section class="section bg-gray" style="padding-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading text-center pb-5">
                    <h2 class="font-weight-bold">Type of Package's</h2>
                </div>
            </div>

            <!-- NOTE :         Free         -->
            <div class="col-lg-4 col-md-6">
                <div class="package-content bg-light border p-4 pt-4 pb-4 my-2 my-lg-0">
                    <div class="package-content-heading border-bottom text-center">
                        <i class="fa fa-paper-plane"></i>
                        <h2>Free</h2>

                        <h4 class="py-3">
                            <svg style="width: 10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                    d="M0 64C0 46.3 14.3 32 32 32H96h16H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H231.8c9.6 14.4 16.7 30.6 20.7 48H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H252.4c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256h80c32.8 0 61-19.7 73.3-48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H185.3C173 115.7 144.8 96 112 96H96 32C14.3 96 0 81.7 0 64z"
                                />
                            </svg>
                            <span> 0</span>
                            &nbsp;&nbsp;&nbsp;One Time
                        </h4>
                    </div>
                    <ul>
                        <li class="my-4"><span>✔️</span> Onsite Documents Verification</li>
                        <li class="my-4"><span>✔️</span> No Personal Support</li>
                        <li class="my-4"><span>✔️</span> No Personal Lending Reference</li>
                        <li class="my-4"><span>✔️</span> Cibil Score require</li>
                        <li class="my-4"><span>✔️</span> Minimum 5 Days to get Loan</li>
                        <li class="my-4"><span>✔️</span> No Loan Guarantee</li>
                    </ul>
                    <a href="{% url "free_subscription" %}" class="btn btn-danger">Free</a>
                </div>
            </div>

            <!-- NOTE :         Standard         -->
            <div class="col-lg-4 col-md-6">
                <div class="package-content bg-light border p-4 pt-4 pb-4 my-2 my-lg-0">
                    <div class="package-content-heading border-bottom text-center">
                        <i class="fa fa-plane"></i>
                        <h2>Standard Package</h2>
                        <h4 class="py-3">
                            <svg style="width: 10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                    d="M0 64C0 46.3 14.3 32 32 32H96h16H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H231.8c9.6 14.4 16.7 30.6 20.7 48H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H252.4c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256h80c32.8 0 61-19.7 73.3-48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H185.3C173 115.7 144.8 96 112 96H96 32C14.3 96 0 81.7 0 64z"
                                />
                            </svg>
                            <span> 237</span>
                            &nbsp;&nbsp;&nbsp;One Time
                        </h4>
                    </div>

                    <ul>
                        <li class="my-4"><span>✔️</span> Online Documents Verification</li>
                        <li class="my-4"><span>✔️</span> No Personal Support</li>
                        <li class="my-4"><span>✔️</span> Up to 10 Lending Reference</li>
                        <li class="my-4"><span>✔️</span> Cibil Score require</li>
                        <li class="my-4"><span>✔️</span> Minimum 2 Days to get Loan</li>
                        <li class="my-4"><span>✔️</span> 99% Loan Guarantee</li>
                    </ul>
                    <a href="{% url "paid_subscription" %}" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <!-- NOTE :         Premium         -->
            <div class="col-lg-4 col-md-6 mx-sm-auto">
                <div class="package-content bg-light border p-4 pt-4 pb-4 my-2 my-lg-0">
                    <div class="package-content-heading border-bottom text-center">
                        <i class="fa fa-rocket"></i>
                        <h2>👑 Premium Package</h2>
                        <h4 class="py-3">
                            <svg style="width: 10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                    d="M0 64C0 46.3 14.3 32 32 32H96h16H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H231.8c9.6 14.4 16.7 30.6 20.7 48H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H252.4c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256h80c32.8 0 61-19.7 73.3-48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H185.3C173 115.7 144.8 96 112 96H96 32C14.3 96 0 81.7 0 64z"
                                />
                            </svg>
                            <span> 399</span> &nbsp;&nbsp;&nbsp;One Time
                        </h4>
                    </div>
                    <ul>
                        <li class="my-4"><span>✔️</span> Online Documents Verification</li>
                        <li class="my-4"><span>✔️</span> Personal Support Till Getting Loan</li>
                        <li class="my-4"><span>✔️</span> Unlimited Lending Reference</li>
                        <li class="my-4"><span>✔️</span> No Cibil Score require</li>
                        <li class="my-4"><span>✔️</span> Within 6 Hours get Loan</li>
                        <li class="my-4"><span>✔️</span> 100% Loan Guarantee</li>
                    </ul>
                    <a href="{% url "paid_subscription" %}" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="packages_benifites">
    <h2>Beneficial Features of packages.</h2>

    <div class="packages_benifites__container">
    
    <div class="packages_benifites__card">
        <h3>Excellent On-Call Support</h3>
        <p>In order to clear your doubts and entertain your queries, we are more than happy to connect with you via our on-call support. Through this, you will be able to get appropriate answers to all your questions.</p>
    </div>

    <div class="packages_benifites__card">
        <h3>Get Your Personalized Portal</h3>
        <p>This portal is important for you to have a good check on your details and receive all the essential updates. It’s a comprehensive portal which you can access from anywhere conveniently.</p>
    </div>

    <div class="packages_benifites__card">
        <h3>Get Free Expert Consultation for 3 Years</h3>
        <p>We believe in helping you with all our efforts! Serving the same purpose, purchasing our package enables you to get free expert financial consultancy and services through which you will be guided towards fetching your desired outputs.</p>
    </div>

    <div class="packages_benifites__card">
        <h3>Get 60% Referral Payout as Reward</h3>
        <p>Besides getting highly professional financial consultation and services, you can make a good income through easy refer and sharing, and you can earn up to 60% referral commission from us.</p>
    </div>

    <div class="packages_benifites__card">
        <h3>Apply for Loan in Our Partners</h3>
        <p>Once we gather your documents, we will quickly file your loan application in Our Partnered. Then, the partners will check your profile and match it to their respective loan eligibility criteria and decide the proceedings. The final loan sanction and approval depend on the partners and the customer's profile only.</p>
    </div>

    <div class="packages_benifites__card">
        <h3>Fully Digital Process</h3>
        <p>Besides offering you the most effective financial consultation and services, we believe in making your entire experience easy, comfortable, and accessible by making it a wholly online process.</p>
    </div>

    </div>

</section>

<!--============================
=            Footer            =
=============================-->

{% endblock content %}

<!---->
