{% extends "base.html" %}

<!--  -->

{% block title %} About Us {% endblock title %}

<!--  -->

<!--  -->

{% block content %}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>About Deva Finance</h3>
            </div>
        </div>
    </div>
</section>

<section class="section pt-5">
    <div class="container">
        <div>
            <p style="font-size: 18px">
                Deva Finance is the leading fintech innovation facilitating loan services for all eligible age groups. We make way
                for quick loan approvals and are recognised with one of the highest approval rates in the industry!
            </p>

            <p style="font-size: 18px">
                We work with a vision to break financial barriers and to make loans easily accessible to all. Our instant loan
                service provides borrowers easy access to loans for their financial needs from our lenders.
            </p>

            <p style="font-size: 18px">Our services reach beyond continents and deliver unique financial solutions.</p>

            <div class="mt-5">
                <h2>Our Mission</h2>

                <p style="font-size: 18px">
                    "Facilitate swift and hassle-free loan approvals, empowering individuals and businesses to achieve their
                    financial goals; one approval at a time”
                </p>

                <p style="font-size: 18px">
                    Our commitment to financial inclusion and customer-centric service drives us to provide unique loan services
                    that help people achieve their dreams and aspirations
                </p>
            </div>

            <div class="mt-5">
                <h2>Our Services In Line (What We DO!)</h2>
                <p style="font-size: 18px">
                    Deva Finance is a loan service provider. Our range of loan services caters to various financial purposes, such
                    as medical expenses, education, travel, debt consolidation, or any other financial needs.
                </p>
            </div>

            <div class="mt-5">
                <h2>How We Stand Out as a Loan Service Provider</h2>
                <p style="font-size: 18px">
                    Now more than ever, it is easier to get a personal loan from an approved list of lenders. We have helped
                    bridge the gap between many lenders and borrowers with quick approval rates and completely transparent
                    unsecured loan journeys.
                </p>
            </div>

            <div class="mt-5">
                <h2>Why Choose Us/ Features</h2>
                <p style="font-size: 18px">
                    Business loans in India help fuel growth, offer flexibility, and aid cash flow management for businesses.
                    Timely repayments enhance credit history and future financing options.
                </p>
            </div>
        </div>
    </div>
</section>

<!--  -->

<section class="partner_list">
    <div class="partner_list__content">
        <h2>Our Leading Partners</h2>

        <ol start="1">
            <li>1) Arunesh kumar</li>
            <li>2) Sanjay Lohara</li>
            <li>3) Anil Konwar</li>
            <li>4) Manoj Suman</li>
            <li>5) Mohammad Shaw</li>
            <li>6) Mohan Bhukya</li>
            <li>7) Santosh Cami</li>
            <li>8) Manoj Maharana</li>
            <li>9) Suresh Saw</li>
            <li>10)Mohammed Akhtar</li>
            <li>11)Amit Pradhan</li>
            <li>12) Dinesh Uddin</li>
            <li>13) Dilip Dash</li>
            <li>14) Ashok Bhukya</li>
        </ol>
    </div>
</section>

{% endblock content %}

<!--  -->
