{% extends "base.html" %}

<!--  -->
{% load static %}
<!--  -->

{% block title %} Message Sent Successfully {% endblock title %}

<!--  -->

{% block content %}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Message Sent Successfully</h3>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container text-center">
        <h1>Thanks for contacting with us.</h1>
        <p style="font-size: 18px" class="pt-2">We will contact to you very soon.</p>
    </div>
</section>
<!-- contact us end -->

{% endblock content %}
