{% extends "base.html" %}

<!--  -->

{% load static %}

<!--  -->

{% block title %} FAQ {% endblock title %}

<!--  -->

<!--  -->

{% block content %}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Frequently Asked Questions</h3>
            </div>
        </div>
    </div>
</section>

<section class="section pt-5">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                    >
                        <strong>When can i opt for a Personal Loan?</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Personal Loans can be used for a variety of reasons. A Personal Loan can be used for weddings, education,
                        travel, medical or any other general purposes. You can take a Personal Loan when you need money to fund an
                        event or an emergency.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                    >
                        <strong>What are the mandatory documents required in applying for a Personal Loan?</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        The mandatory documents are:
                        <ul>
                            <li>Bank Statements for the last three months</li>
                            <li>Salary Slips for the last three months</li>
                            <li>Address Proof and Identity Proof documents</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                    >
                        <strong>Do I need to provide any security or collateral or guarantors?</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        No, for Personal Loan you don’t need to provide any security, collateral or guarantors.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse4"
                        aria-expanded="false"
                        aria-controls="collapse4"
                    >
                        <strong>What are the benefits of a Personal Loan?</strong>
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Here's why our Personal Loan is perfect for you:
                        <ul>
                            <li>Quick loan payment</li>
                            <li>No collateral or security needed</li>
                            <li>Minimal documentation</li>
                            <li>Flexible EMI plans and many repayment options</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse5"
                        aria-expanded="false"
                        aria-controls="collapse5"
                    >
                        <strong>What is the minimum and maximum loan amount?</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We provide Personal Loans from a minimum of ₹ 5,000 to a maximum of ₹ 15,00,000/- depending on your
                        eligibility.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse55"
                        aria-expanded="false"
                        aria-controls="collapse55"
                    >
                        <strong>What are the tenure options for a Personal Loan?</strong>
                    </button>
                </h2>
                <div id="collapse55" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        You have the option to choose what works best for you while repaying the personal loan. You can go for the
                        fixed amount of loan and interest or can pay higher/lower EMIs in the initial months, lower/higher EMIs at
                        the later months depending on your income.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse6"
                        aria-expanded="false"
                        aria-controls="collapse6"
                    >
                        <strong>Can I get a Personal Loan with a low CIBIL Score?</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        It is important to have a good CIBIL Score. But this should not stop you from applying for a Personal
                        Loan. Approval of Personal Loans depends on your ability to repay.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse7"
                        aria-expanded="false"
                        aria-controls="collapse7"
                    >
                        <strong>Will I get a loan with a low CIBIL Score?</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        If you need a Personal Loan and have a low CIBIL Score, you have the option to take a joint loan with your
                        spouse or parent. However, approval of Personal Loans depends on your ability to repay.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse8"
                        aria-expanded="false"
                        aria-controls="collapse8"
                    >
                        <strong>How does credit report impact Personal Loan approval process?</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Credit report provides details on your financial status and your ability to repay a Personal Loan. This
                        helps us evaluate your financial history. A good credit report with a score of 750 will help you take a
                        loan easily.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse9"
                        aria-expanded="false"
                        aria-controls="collapse9"
                    >
                        <strong>What are the documents required for a Business Loan?</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We ask for minimal documents in order to process your Business Loan:

                        <ul>
                            <li>Duly filled application form</li>
                            <li>
                                KYC documents of the company including PAN Card, Registration of Incorporation, Partnership deed,
                                Memorandum & Articles of Association.
                            </li>
                            <li>KYC documents of the business owners</li>
                            <li>Balance sheet and Profit & Loss accounts for the last two years</li>
                            <li>Income Tax Returns for the last two years</li>
                            <li>Company bank statements for the last six months</li>
                            <li>GST returns for the last 6 months</li>
                            <li>A report detailing how the Business Loan will be used.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse10"
                        aria-expanded="false"
                        aria-controls="collapse10"
                    >
                        <strong>Who can get a Business Loans?</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We offer Business Loans to both professionals and non-professionals, who are self-employed. Among
                        self-employed professionals, we have exclusive loans for doctors. These loans are approved quickly and are
                        available at competitive interest rates. The customer segments covered under Business Loans are listed
                        below:

                        <ul>
                            <li>Sole Proprietorship</li>
                            <li>Partnership Firm</li>
                            <li>Private Limited Companies</li>
                            <li>Closely held Public Limited Companies</li>
                            <li>Societies</li>
                            <li>Trusts</li>
                            <li>Hospitals, Nursing Homes, Diagnostic Centers, Pathological Labs.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse11"
                        aria-expanded="false"
                        aria-controls="collapse11"
                    >
                        <strong>Can I get a Business Loan without collateral?</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Yes, you can get a Business Loan without any collateral or security.</div>
                </div>
            </div>

            <!--SECTION -->

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse12"
                        aria-expanded="false"
                        aria-controls="collapse12"
                    >
                        <strong>Am I eligible for a Business Loan?</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        You are eligible for a Business Loan if you:

                        <ul>
                            <li>Are between 25-65 years of age</li>
                            <li>Have business that shows a profit for the last three consecutive financial years</li>
                            <li>Have business that shows an upward turnover trend</li>
                            <li>Are able to show balance sheet that is audited by a registered Chartered Accountant.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse123"
                        aria-expanded="false"
                        aria-controls="collapse123"
                    >
                        <strong>What is the maximum amount can I take through a Business Loan?</strong>
                    </button>
                </h2>
                <div id="collapse123" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">You can take up to ₹ 1 Crore, depending on your credit score.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse124"
                        aria-expanded="false"
                        aria-controls="collapse124"
                    >
                        <strong>Is the interest rate fixed or floating?</strong>
                    </button>
                </h2>
                <div id="collapse124" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">The interest rate for Business Loan is fixed.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  -->

{% endblock content %}
