{% extends "base.html" %}

<!--  -->
{% load static %}
<!--  -->

{% block title %} Safety Guide {% endblock title %}

<!--  -->

{% block content %}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Contact Us</h3>
            </div>
        </div>
    </div>
</section>

<section class="section pt-5">
    <div class="container">
        <h1 class="mb-4">Loan Fraud Advisory</h1>

        <p style="font-size: 18px; color: #333">
            Please beware of fraudsters while conducting your financial transactions – duly verify the authenticity of all
            communications (calls, emails, SMS, websites or advertisements) before making any payment or sharing any documents.
            Please be careful while opening links or attachments from unknown third parties. Do not handover your personal
            documents like photo-id or address proof or personal information to the persons other than those authorised by Deva
            Finance share them on any suspicious sites. Please beware of such fraudulent practices. Our official websites are
            www.devafinance.com.
        </p>

        <p style="font-size: 18px; color: #333">
            Customers, general public and prospective customers are also advised to immediately report any suspicious incident
            and/or incident of defrauding of money as a result of these fraudulent acts and practices to the authorities in their
            jurisdiction, i.e. the Police and the Telecommunications regulator, including the Cyber Crime Cell.
        </p>

        <p style="font-size: 18px; color: #333">
            Please note that any person dealing with such fraudsters will be dealing at his/her own risk and responsibility. Deva
            Finance and/or any of its group company will not be responsible for any loss suffered or otherwise in this respect.
        </p>

        <p style="font-size: 16px; color: #333; font-weight: bold">Deva Finance</p>
    </div>
</section>
<!-- contact us end -->

{% endblock content %}

<!-- SECTION  -->
